
  .icons{
    padding-left: 30px;
    font-size: 50px;
  }


  .text{
    font-size: 20px;
    font-family:serif;
  }

  .morning{
    background-color: rgb(224, 137, 162);
  }

  .noon{
    background-color:#ffea76;
  }

  .evening{
    background-color: rgb(145, 221, 221);
  }

  .night{
    background-color: rgb(65, 159, 236);
  }

  .only{
    background-color: rgb(167, 237, 161);
  }

  .title{
    font-size: 100px;
    font-display: flex;
    color: rgb(54, 214, 185);
    margin-left: 100px;
    margin-right: 100px;
    font-weight: 700;
    margin-bottom: 50px;
  }


  .table-style{
    border-collapse: separate;
    border-spacing: 10px 0;
    margin-bottom: 10px;
    
    /* margin-left: 500px; */
    
  }
  .column{
    /* padding-left: 50px; */
    height: 50px;
  }

  .celda {
    height: 50px;
    width: 200px;
  }

  .columan-fija{
    width: 200px;
  }

  .color{
    background-color: rgb(247, 243, 169);
  }

  .TomarPastilla{
    background-color: rgb(251, 190, 85);
    border-radius: 5px;
    border: none;
    color: white;
    margin-top: 10px;
    height: 30px;
  }


.Terminar{
  margin-left: 5px;
  border: none;
  color: white;
  margin-top: 10px;
  height: 30px;
  background-color: rgb(213, 73, 73);
  border-radius: 5px;

}
.red th{
  background-color: white;
}
.red tr:nth-child(even){
  background-color: rgb(246, 195, 195);
}
.red tr:nth-child(odd) {
  background-color:rgb(245, 167, 167);
}
.yellow tr:nth-child(even){
  background-color: rgb(235, 235, 191);
}
.yellow tr:nth-child(odd) {
  background-color:#ebdc88;
}
.blue tr:nth-child(even){
  background-color:rgb(188, 239, 232);
}
.blue tr:nth-child(odd) {
  background-color:rgb(131, 248, 240);
}
.purple tr:nth-child(even){
  background-color:rgb(150, 189, 234);
}
.purple tr:nth-child(odd) {
  
  background-color: rgb(98, 167, 241);
}
.green tr:nth-child(even){
  background-color: rgb(209, 240, 205);
}
.green tr:nth-child(odd) {
  background-color:rgb(144, 237, 178);
}
